.modalContainer {
  position: fixed;
  height: 700px;
  width: 800px;
  max-width: 100vw;
  max-height: 100vh;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modalHidden {
  display: none;
}
.modalOverlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  opacity: 0.3;
}
