$theme-colors: (
  "primary": #1b1925,
  "gold": #af8813,
  "orange": #FF6F00,
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

@import "~bootstrap/scss/bootstrap.scss";
