.arrows {
  display: flex;
  justify-content: end;
  margin-bottom: 32px;
  gap: "1rem"
}

.arrow {
  background-color: white;
  border: 1px solid black;
  margin-left: 12px !important;
  padding: 6px;
  width: 40px;
  height: 40px;
}