.formule-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: transform 0.3s ease;
}

/* .formule-card:hover {
  transform: translateY(-5px);
} */

.formule-title {
  padding: 20px 0;
  font-weight: 500;
  font-size: 16px;
  color: #FF6F00;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.formule-image-container {
  position: relative;
  width: 100%;
  height: 522px;
  overflow: hidden;
}

.formule-image {
  transition: opacity 0.3s ease;
}

.formule-details {
  width: 100%;
  height: 100%;
  background-color: #FF6F00;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 40px 30px;
  color: white;
  text-align: center;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.formule-number {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  color: #ff6b35;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 500;
}

.formule-description {
  font-size: 14px;
  line-height: 1.6;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding: 0 16%;
}

/* .formule-duration {
  font-size: 14px;
  line-height: 1.5;
  margin: 0 0 30px 0;
  font-weight: 300;
} */

.formule-price {
  background-color: white;
  color: #ff6b35;
  border-radius: 22.5px;
  width: 207px;
  height: 45px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 1.6;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .formule-image-container {
    height: 300px;
  }

  .formule-title {
    font-size: 12px;
  }

  .formule-details {
    padding: 30px 20px;
  }

  .formule-number {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .formule-description {
    font-size: 14px;
  }

  .formule-duration {
    font-size: 12px;
  }

  .formule-price {
    font-size: 14px;
    padding: 10px 25px;
  }
}
