.main-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5e6d3;
  /* padding-bottom: 80px; */
  /* background:
  linear-gradient(
    135deg,
    #FF6F001F 0%,
    #ffffff 25%,
    #ffffff 75%,
    #FF6F001F 100%
  ); */
}

.main-section-image-wrapper {
  position: relative;
  margin-top: -45px;
  overflow: hidden;
}

.main-section-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.main-section-content {
  position: relative;
  z-index: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 60px 5%;
}

.main-section-title {
  font-size: 80px;
  font-weight: 300;
  line-height: 79px;
  text-transform: uppercase;
}

.main-section-description {
  font-size: 18px;
  font-weight: 300;
  line-height: 23px;
  color: #000000;
  text-align: center;

}

.main-section-description p {
  margin-bottom: 20px !important;
}


/* @media (max-width: 1200px) {
  .main-section-image-wrapper {
    height: 350px;
    margin-top: -80px;
  }

  .main-section-title {
    font-size: 60px;
    letter-spacing: 6px;
  }
}

@media (max-width: 768px) {
  .main-section-image-wrapper {
    height: 300px;
    margin-top: -70px;
  }

  .main-section-title {
    font-size: 40px;
    letter-spacing: 4px;
  }

  .main-section-description {
    font-size: 16px;
    line-height: 22px;
  }

  .main-section-content {
    padding: 40px 5%;
  }
}

@media (max-width: 480px) {
  .main-section-image-wrapper {
    height: 250px;
    margin-top: -60px;
  }

  .main-section-title {
    font-size: 32px;
    letter-spacing: 3px;
  }

  .main-section-description {
    font-size: 14px;
    line-height: 20px;
  }
} */
