  .split_section {
    display: flex;
    align-items: center;
    gap: 128px;
  }

  .split_section_image {
    width: 42%;
    height: 42%;
  }

  .split_section_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  @media (max-width: 1200px) {

    .split_section {
      flex-direction: column;
      gap: 56px !important;
    }

    .split_section_image {
      width: 100% !important;
      height: 400px;
    }
  }